@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.icone {
    color: grey;
}

.titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 0.5s ease 0s animacaoTitulo forwards;
  }
  
  @keyframes animacaoTitulo {
    from {
      transform: scale(0.2) translateY(0vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
